@import url('https://fonts.googleapis.com/css2?family=Labrada&display=swap');

body {    
    font-family: 'Labrada', serif;
    font-size: 23px;
    font-weight: 400;
    background-color: #ffffff;
}

.reading-layout{ 
   margin: auto;
   width: 65%;
}

.reading-layout img{
    width: 200px;
    margin: auto;
    display: block;
    padding-top: 50px;
    border-radius:50%;
}

.reading-layout p{
    text-align: left;
    color: rgb(0, 0, 0);
}
.reading-layout h1{
    font-size: 55px;
    text-align: center;
    color: #2a3f31fe;
}

.reading-layout h2{
    color: #b61620;
    text-align: center;
}

.reading-layout h3{
    text-align: center;
    color: #0d129c;
    font-size: 25px;
}

.reading-layout h4{
    color: #09f0b7;
}

.reading-layout h5{
    color: rgb(240, 10, 175);
}

.reading-layout a{
    color: #8800ff;
    text-decoration: none;
}

.reading-layout a:hover{
    color: #1c516b;
}

.reading-layout ul{
    color: rgb(9, 236, 236);
}

.reading-layout em, i {
    color: #ff0000;
}
#back-button{
    color: #f10d1c;
    text-decoration: none;
    padding: 3px;
}

#back-button:hover{
    background-color: #f10d1c;
    color: #fff9f9;
}

