

body {
    font-family: 'Hind', sans-serif;
    background-color: #d77443;
    margin:0 auto; max-width: 700px;
}

table, th, td {
    border: 1px solid black;
  }
p {
    
    color: black;
}
.heading-text p{
    text-align: center;
    font-size: 20px;
}

.main-heading h1{
    text-align: center;
    font-weight: 300;
    transition: transform .2s;
}

.main-heading h1:hover{
    transform: scale(1.5);
}



.second-heading { 
     font-weight: 40;
     text-align: center;
 }



 hr {
    border: 10px solid red;
 }

 .navigation{
    text-align: center;
    
 }

 .navigation li{
    list-style-type: none;
 }

 .navigation a:link, a:visited{
    text-decoration: none;
    display: inline-block;
    margin: 8px 10px;
    padding: 7px;
    outline: 3px solid green;
    outline-style: solid;
    color: darkgreen;
    font-size: 22px;
  }

.navigation a:hover, a:active{
      background-color: green;
      color: white;
  }


