body {
    font-family: 'Roboto Slab', serif;
    background-color: #fdfffc;
    max-width: 800px;
    margin: auto;
}

.header{
    display: flex; 
    justify-content: center;  
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
    
}

.header img{
    max-width: 100px;
    margin-top: 1cm;
    border-radius: 50%;
    margin-bottom: 1cm;
}

.header a{
    color: #5d5347;
    text-decoration: underline; 
    font-size: 65px;
    font-weight: bolder;
}

.header a:hover{
    color: rgb(218, 155, 46);
}

.heading p{
    text-align: center;
    font-size: 25px;
}



.large-nepali-font{
    text-align: center;
    color: #72405C;
    font-size: 130%;
}


 .navigation{
    text-align: center;
 }

 .navigation li{
    list-style-type: none;
 }

 .navigation a:link, a:visited{
    text-decoration: none;
    display: inline-block;
    margin: 8px 12px;
    padding: 5px;
    outline: 3px solid #384436;
    outline-style: solid;
    color: #2E2D2C;
    font-size: 22px;
  }

.navigation a:hover, a:active{
      background-color: #e3173d;
      color: white;
  }

.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.search-bar input{
    width: 400px;
    margin-right: 15px;
    
}


